.contact {
    min-height: 100vh;
    background-color: rgba(7, 51, 64, 1);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 91px 164px 0px;
}

.contactTitle {
    color: rgba(201, 191, 186, 1);
    text-transform: uppercase;
    align-self: start;
    font: 400 56px/56px Forum, -apple-system, Roboto, Helvetica, sans-serif;
}

.contactContent {
    display: flex;
    margin-top: 51px;
    gap: 250px;
}

.contactInfo {
    flex: 1;
    width: 460px;
}

.contactInfoTitle {
    color: rgba(201, 191, 186, 1);
    font-size: 30px;
    letter-spacing: 0.9px;
    font-family: Forum, sans-serif;
    font-weight: 400;
}

.contactDetails {
    display: flex;
    align-items: center;
    margin-top: 28px;
    gap: 25px;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.72px;
}

.contactIcon {
    aspect-ratio: 0.2;
    object-fit: contain;
    object-position: center;
    width: 29px;
}

.contactText {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contactIllustration {
    aspect-ratio: 2.19;
    object-fit: contain;
    object-position: center;
    height: 70%;
    margin-top: 5px;
    flex-grow: 1;
}

@media (max-width: 1490px) {
    .contactContent {
        margin-top: 110px;
        gap: 65px;
    }
}

@media (max-width: 550px) {
    .contactIllustration {
        max-width: 95%!important;
        margin-top: 0px!important;
    }
}

@media (max-width: 991px) {
    .contact {
        max-width: 100%;
        padding: 40px 20px;
    }

    .contactTitle {
        max-width: 100%;
        font-size: 40px;
        line-height: 45px;
    }

    .contactContent {
        flex-direction: column;
        align-items: center;
        gap: 0px!important;
    }

    .contactIllustration {
        max-width: 90%;
        margin-top: 40px;
    }

    .contactText {
        gap: 30px;
    }

    .contactInfo {
        width: auto;
    }

    .contactTitle {
        font-size: 35px;
        line-height: 38px;
    }
}