.header {
    height: 105vh;
    background-color: rgba(7, 51, 64, 1);
    width: 100%;
    padding-left: 45px;
    overflow: hidden;
    margin: 0 0 40px 0;
}

.headerContent {
    display: flex;
    gap: 20px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: auto -155px auto 0;
}

.logoContainerMob {
    display: none;
    flex-direction: column;
    align-self: stretch;
    margin: auto -155px auto 0;
}

.logo {
    aspect-ratio: 1.71;
    object-fit: contain;
    object-position: center;
    /* width: 703px; */
    margin-left: -80px;
    max-width: 703px;
}

.companyInfo {
    display: flex;
    margin-top: 94px;
    width: 100%;
    padding-left: 5px;
    flex-direction: column;
}

.companyInfoMob {
    display: none;
    margin-top: 94px;
    width: 100%;
    align-items: center;
    padding-left: 5px;
    flex-direction: column;
}

.companyName {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 22px; */
}

.companyType {
    color: rgba(201, 191, 186, 1);
    letter-spacing: 0.72px;
    align-self: start;
    font: 400 28px Noto Sans, sans-serif;
}

.companyBrand {
    color: rgba(201, 191, 186, 1);
    margin-top: 13px;
    font: 500 124px/124px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

.companySlogan {
    background-color: rgba(96, 127, 150, 1);
    align-self: start;
    margin-top: 50px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.72px;
    width: 100%;
    padding: 27px 45px;
    font: 400 24px Forum, sans-serif;
}

.companySloganMob {
    display: none;
    background-color: rgba(96, 127, 150, 1);
    align-self: start;
    margin-top: 50px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.72px;
    width: 100%;
    padding: 27px 45px;
    font: 400 24px Forum, sans-serif;
}

.headerImage2 {
    display: none;
}

.headerImages {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 768px;
    flex-grow: 1;
    z-index: 2;
    padding: 0 4px 80px;
}

.headerImage {
    height: 160%;
    top: -355px;
    right: 50px;
    position: absolute;
    z-index: 4;
    object-fit: cover;
}

@media (max-width: 700px) {
    .headerImage {
        height: 125%;
        top: -444px;
        right: -204px;
    }
}

@media (max-width: 550px) {
    .companyInfoMob {
        display: flex;
    }

    .logoContainerMob {
        display: flex;
    }

    .companyBrand {
        font-size: 46px!important;
        line-height: 48px!important;
        text-align: center;
    }

    .companyInfo {
        max-width: 100%;
        margin-top: 0!important;
    }

    .headerImage {
        height: 97%;
        top: -444px;
        right: -195px;
    }

    .logo {
        margin-left: 9px;
        margin-top: 56px;
        max-width: 403px;
    }

    .logoContainer {
        gap: 200px;
    }

    .companySlogan {
        font-size: 19px;
    }

    .companyName {
        align-items: center;
    }

    .companyType {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .header {
        max-width: 100%;
        padding-left: 20px;
    }

    .imggg {
        display: none;
    }

    .headerContent {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }

    .logoContainer {
        max-width: 100%;
        margin-top: -92px;
        align-items: center;
    }

    .companyInfo {
        max-width: 100%;
        margin-top: 40px;
    }

    .companyName {
        max-width: 100%;
    }

    .companyBrand {
        font-size: 58px;
        line-height: 59px;
        text-align: center;
    }

    .companySlogan {
        margin-top: 40px;
        /* padding: 0 20px; */
    }

    .headerImagez {
        position: inherit;
        /* max-width: 100%; */
    }

    .headerImage2 {
        display: block;
        width: 100% !important;
        height: auto;
        object-fit: cover; 
        /* Установите высоту в auto для сохранения пропорций */
        max-width: 105%;
        /* Установите максимальную ширину в 100% */
        position: absolute;
        /* Позиционируйте изображение абсолютно */
        top: 0;
        /* Установите верхнюю позицию в 0 */
        left: 0px;
        /* Установите правую позицию в 0 */
        z-index: 2;
        /* Убедитесь, что изображение находится выше других элементов */
    }

    .header {
        height: 100vh;
    }

    .headerImage {
        display: none;
    }

    /* .headerImage {
        top: -450px;
        height: 115%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
}