.positioning {
    background-color: rgba(7, 51, 64, 1);
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* padding: 0 48px 0 5px; */
    margin: 40px 0;
}

h1 {
    font-size: 40px;
}

.custom-underline {
    text-decoration: underline;
    /* Apply underline */
    text-underline-offset: 14px;
    /* Adjust the distance from the text */
    text-decoration-color: #607F96;
    /* Change the underline color */
}

.opoe {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.separat {
    width: 5px;
    height: 100%;
    margin: 0 50px;
    background-color: #607F96;
}

.aboutBackground {
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translate(39%, -22%);
    height: 240px;
}

.subt {
    width: 700px;
    height: 60px;
}

.gijei {
    width: 370px;
}

@media (max-width: 1650px) {
    .subt {
        width: 80%;
    }

    .aboutBackground {
        display: none;
    }

    .separat {
        display: none;
    }

    .gojrgpg {
        flex-wrap: wrap !important;
        padding: 0 130px;
        gap: 20px;
    }
}

@media (max-width: 1400px) {
    .h1h1 {
        font-size: 60px !important;
    }

    .custom-underline {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .h1h1 {
        font-size: 19px !important;
        top: 19%!important;
    }

    .custom-underline {
        font-size: 24px;
    }

    .subt {
        width: 100%;
    }
}

@media (max-width: 840px) {
    .h1h1 {
        font-size: 30px !important;
    }

    .opoe {
        margin-top: 85px !important;
        gap: 0 !important;
    }
}